main {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0.5rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width:600px){
    main {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        padding: 3rem;
        height: 100%;
    }
}

#searchBar {
    display: flex;
    box-shadow: 0px 0px 4px 4px black;
    width: 100%;
    padding: 0.2rem;
    border-radius: 50px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

input[type="text"] {
    border: none;
    background-color: transparent;
    width: inherit;
    outline: none;
    color: inherit;
}

.grid {
    height: 40vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#countryDetails {
    font-weight: bold;
    font-size: 2rem;
}

#weatherDescription, 
#humidPressureWind, 
#date, 
#temp, 
#minMax, 
#volume {
    font-weight: bold;
    flex-direction: column;
    font-size: 1.3rem;
}

#weatherDescription img {
    align-self: flex-start;
}

label {
    font-weight: bold;
    font-size: 1.3rem;
}

p {
    width: 100%;
}

.align {
    display: flex;
    width: 100%;
    padding: 0.3rem;
}

#errorDisplay{
    color: red;
}

#standardDiv {
    display: flex;
}

.standards {
    margin: 0.2rem;
    padding: 0.1rem;
    cursor: pointer;
}

.activeBlack {
    box-shadow: 0px 0px 2px 2px black;
}

.activeWhite {
    box-shadow: 0px 0px 2px 2px white;
}